<div id="new_note">
    <%= form_tag('/notes', method: "post") do %>
            <%= text_field_tag :title, params[:title], placeholder: "type to add a note...", class:"form_title" %>
            <%= text_field_tag :description, params[:description], placeholder: "description", class:"form_description" %>
            <%= hidden_field_tag 'group', '0' %>
            <%= submit_tag "Add Note", class: "form_submit" %>
    <% end %>
</div>