<div id="new_note">
    <%= form_for(@note) do |n| %>
            <%= n.text_field :title, placeholder: "type to add a note...", class:"form_title" %>
            <%= n.text_field :description, placeholder: "description", class:"form_description" %>
            <%= n.hidden_field :group, value: '0' %>
            <%= submit_tag "Add Note", class: "form_submit" %>
    <% end %>
</div>