<%=tag("div", {id: @note.id, class: "#{@note.color}_open_note new_note" }, true)%>
    <%= form_with model: @note, remote: true, html: { id: "note_form" } do |note|%>
        <%= note.text_field :title, autocomplete: 'off', placeholder: "type to add a note...", id:"form_title" %>
        <%= note.text_area :description, autocomplete: 'off', placeholder: "description...", id:"form_description" %>
        <%= note.hidden_field :group, value: '0' %>
        <div id="note_footer">
            <%= note.submit :Close, id: "form_submit" %>
            <%=link_to "", change_color_note_path(@note, :color => "purple"), method: :post, remote: true, class:"btn purple_note color_button"%>
            <%=link_to "", change_color_note_path(@note, :color => "blue"), method: :post, remote: true, class:"btn blue_note color_button"%>
            <%=link_to "", change_color_note_path(@note, :color => "green"), method: :post, remote: true, class:"btn green_note color_button"%>
            <%=link_to "", change_color_note_path(@note, :color => "red"), method: :post, remote: true, class:"btn red_note color_button"%>
        </div>
    <% end %>
</div>
