<% if flash[:notes] %>
    <% flash[:notes].each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
<% end %>
<div id="note_grid">
    <% @notes.each do |note| %>
<<<<<<< HEAD
        <%= render partial: 'notes/note_short', locals: { note: note }%>
=======
        <div id= <%="#{note.id}" %> class= "drag-drop", data-draggable="true">
            <%= tag("div", {id: "#{note.id}_form", class: "note #{note.color}_note"}, true) %>
                <h4><%= note.title %></h4>
                <%=link_to "x", note, method: :delete, remote: true, class:"btn delete_button delete_color"%>
            </div>
        </div>
    
>>>>>>> dev
    <% end %>
</div>
<%= link_to "+", notes_path, method: :post, remote: true, class: "dot btn btn-primary", id:"new_note_button"%>