<% if flash[:notes] %>
    <% flash[:notes].each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
<% end %>
<div id="note_grid">
    <% @notes.each do |note| %>
        <div>
            <%= tag("div", {id: "#{note.id}", class: "note"}, true) %>
                <%= note.title %> 
                <br/>
                <%= note.description %>
                <%= link_to "x", notes_path(note.id), method: :delete, remote:true, class:"btn btn-secondary delete_button"%>
            </div>
        </div>
    <% end %>
</div>