<div id="new_note">
    <%= form_tag('/notes', method: "post") do %>
            <%= text_field_tag :title, params[:title], placeholder: "type to add a note...", class:"form_title" %>
            <%= text_field_tag :description, params[:description], placeholder: "description", class:"form_description" %>
            <%= submit_tag "Add Note", class: "form_submit" %>
    <% end %>
    <% @notes.each do |note| %>
        <li><%= note.title %></li>  
    <% end %>
</div>