<% if flash[:notes] %>
    <% flash[:notes].each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
<% end %>
<div id="note_grid">
    <% @notes.each do |note| %>
        <div id="note_<%=note.id%>_container" class="drag-drop">
            <%= tag("div", {id: "#{note.id}", class: "note", data: {draggable: true}}, true) %>
                <h4><%= note.title %></h4>
                <%=link_to "x", note, method: :delete, remote: true, class:"btn delete_button"%>
            </div>
        </div>
    
    <% end %>
    <%= link_to "Add a new note", notes_path, method: :post, remote: true, class: "btn btn-primary", id:"new_note_button"%>
</div>