<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "StreamLine", root_path, id:"logo", class:"title-font mr-auto" %>
      <% if current_user %>
        <ul id="top-bar" class="nav navbar-nav">
            <li id="profile" class="dropdown">
              <a href="#" class="dropdown-toggle head-nav" data-toggle="dropdown">
                <%= #gravatar_for current_user, size:30 
                %>
                <h4><%= current_user.name %> </h4>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", 'profile', class:"head-nav" %></li>
                <li><%= link_to "Settings", 'settings', class:"head-nav" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log Out", signout_path, class: "head-nav"%>
                </li>
              </ul>
            </li>
        </ul>
      <% end %>
    </div>
</header>